In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import kagglehub
path=kagglehub.dataset_download('vijayuv/onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

# E-Commerce Data Analysis Project
## Online Retail Dataset Analysis

---

## ðŸ“Š Dataset Information

**Dataset:** Online Retail Dataset  



---

## ðŸŽ¯ Project Tasks

### **PART A: Initial Data Exploration**

# Task 1: Load the dataset and display basic information about its structure.

In [ ]:
df=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

#Task 2: Show the first 15 and last 15 records.

In [ ]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [ ]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#Task 3: Display a random sample of 20 transactions

In [ ]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
67060,541827,21935,SUKI SHOULDER BAG,7,1/21/2011 17:05,1.63,NaN,United Kingdom
68721,541872,37448,CERAMIC CAKE DESIGN SPOTTED MUG,6,1/24/2011 9:52,1.49,14796.0,United Kingdom
406626,571809,22650,CERAMIC PIRATE CHEST MONEY BANK,8,10/19/2011 11:44,1.45,15039.0,United Kingdom
996,536520,22100,SKULLS SQUARE TISSUE BOX,1,12/1/2010 12:43,1.25,14729.0,United Kingdom
394653,570875,22567,20 DOLLY PEGS RETROSPOT,12,10/12/2011 17:00,1.45,12667.0,Finland
32080,539041,22419,LIPSTICK PEN RED,10,12/15/2010 15:34,0.42,15456.0,United Kingdom
210776,555322,47566b,TEA TIME PARTY BUNTING,1,6/2/2011 11:01,8.29,NaN,United Kingdom
444672,574739,23395,BELLE JARDINIERE CUSHION COVER,4,11/6/2011 16:04,3.75,16357.0,United Kingdom
156243,550128,22930,BAKING MOULD HEART MILK CHOCOLATE,1,4/14/2011 13:13,2.55,NaN,United Kingdom
383833,570088,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,3,10/7/2011 11:32,2.95,16764.0,United Kingdom
427796,573400,22496,SET OF 2 ROUND TINS DUTCH CHEESE,6,10/30/2011 15:38,2.95,17796.0,United Kingdom
255870,559372,22129,PARTY CONES CANDY TREE DECORATION,12,7/8/2011 10:23,0.85,12461.0,Switzerland
466391,576329,23319,BOX OF 6 MINI 50'S CRACKERS,1,11/14/2011 15:22,4.96,NaN,United Kingdom
350300,567625,20839,FRENCH PAISLEY CUSHION COVER,12,9/21/2011 12:55,0.85,13627.0,United Kingdom
306914,563854,23308,SET OF 60 VINTAGE LEAF CAKE CASES,24,8/19/2011 15:24,0.55,12364.0,Belgium
210633,555284,21829,DINOSAUR KEYRINGS ASSORTED,72,6/2/2011 9:37,0.18,14298.0,United Kingdom
88614,543810,21781,MA CAMPAGNE CUTLERY BOX,1,2/13/2011 14:16,14.95,13171.0,United Kingdom
39485,539647,48187,DOORMAT NEW ENGLAND,1,12/20/2010 16:08,7.95,15460.0,United Kingdom
313425,C564493,22364,GLASS JAR DIGESTIVE BISCUITS,-4,8/25/2011 14:19,2.95,13089.0,United Kingdom
113992,546005,22621,TRADITIONAL KNITTING NANCY,12,3/8/2011 15:17,1.45,14426.0,United Kingdom

#Task 4: Find out how many rows and columns are in the dataset.

In [ ]:
df.shape

(541909, 8)

#Task 5: List all column names.

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

#Task 6: Check the data type of each column.

In [ ]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

#Task 7: Get a statistical summary of all numerical columns.

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

#PART B: Data Quality Assessment
#Task 8: Identify which columns have missing values and how many.

In [ ]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

#Task 9: Find out how many transactions have missing CustomerID.

In [ ]:
missing_transactions=df['CustomerID'].isna().sum()
missing_transactions

np.int64(135080)

#Task 10: Check if there are any duplicate rows in the dataset.

In [ ]:
dupli=df[df.duplicated()]
dupli

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,12/1/2010 11:45,1.25,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,12/1/2010 11:45,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,12/1/2010 11:45,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,12/1/2010 11:45,4.95,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,12/1/2010 11:49,2.95,17920.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,12/9/2011 11:34,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,12/9/2011 11:34,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,12/9/2011 11:34,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,12/9/2011 11:34,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,12/9/2011 11:34,2.08,14446.0,United Kingdom

#Task 11: Identify transactions where Quantity is less than or equal to zero.

In [ ]:
df[df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

#Task 12: Find transactions where UnitPrice is zero or negative.

In [ ]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

#Task 13: Identify how many invoice numbers start with the letter 'C'.

In [ ]:
df['InvoiceNo'].str.startswith('C').sum()

np.int64(9288)

#Task 14: Check if the Description column has any leading or trailing spaces.

In [ ]:
df['Description'].str.startswith(' ') & df['Description'].str.endswith(' ')

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: Description, Length: 541909, dtype: bool

#PART C: Data Cleaning
#Task 15: Remove all rows where CustomerID is missing.

In [ ]:
df.dropna(subset=['CustomerID'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#Task 16: For missing product descriptions, fill them with "Unknown Product".

In [ ]:
df['Description'].fillna('UnKnown')

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

#Task 17: Remove all duplicate transactions.

In [ ]:
df.drop_duplicates()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#Task 18: Remove transactions where Quantity is less than or equal to zero.

In [ ]:
df[df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

#Task 19: Remove transactions where UnitPrice is less than or equal to zero

In [ ]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

#Task 20: Remove all cancelled transactions (invoices starting with 'C').

In [ ]:

df[df['InvoiceNo'].str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

#Task 21: Change the column name "Description" to "ProductName".

In [ ]:
df.rename(columns={'Description':'ProductName'},inplace=True)

#Task 22: Ensure the InvoiceDate column is in proper date-time format.

In [ ]:
pd.to_datetime(df['InvoiceDate'])

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

#Task 23: Convert CustomerID to integer type.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   ProductName  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
df.dropna(subset=['CustomerID'])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#Task 24: Reset the index after all cleaning operations.

In [ ]:
df.reset_index(drop=True,inplace=True)

#PART D: Feature Creation
#Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [ ]:
df['Total price']=df['Quantity']*df['UnitPrice']

#Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [ ]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
df['InvoiceDate'].dt.year

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
541904    2011
541905    2011
541906    2011
541907    2011
541908    2011
Name: InvoiceDate, Length: 541909, dtype: int32

#Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [ ]:
df['InvoiceDate'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
541904    12
541905    12
541906    12
541907    12
541908    12
Name: InvoiceDate, Length: 541909, dtype: int32

#Task 28: Extract the day from InvoiceDate and store it in a new column "Day".

In [ ]:
df['InvoiceDate'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
541904    9
541905    9
541906    9
541907    9
541908    9
Name: InvoiceDate, Length: 541909, dtype: int32

#Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [ ]:
pd.date_range(start='1/1/2010',end='31/12/2011',freq='h')

DatetimeIndex(['2010-01-01 00:00:00', '2010-01-01 01:00:00',
               '2010-01-01 02:00:00', '2010-01-01 03:00:00',
               '2010-01-01 04:00:00', '2010-01-01 05:00:00',
               '2010-01-01 06:00:00', '2010-01-01 07:00:00',
               '2010-01-01 08:00:00', '2010-01-01 09:00:00',
               ...
               '2011-12-30 15:00:00', '2011-12-30 16:00:00',
               '2011-12-30 17:00:00', '2011-12-30 18:00:00',
               '2011-12-30 19:00:00', '2011-12-30 20:00:00',
               '2011-12-30 21:00:00', '2011-12-30 22:00:00',
               '2011-12-30 23:00:00', '2011-12-31 00:00:00'],
              dtype='datetime64[ns]', length=17497, freq='h')

#Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred

In [ ]:
df['InvoiceDate'].dt.strftime('%A')

0         Wednesday
1         Wednesday
2         Wednesday
3         Wednesday
4         Wednesday
            ...
541904       Friday
541905       Friday
541906       Friday
541907       Friday
541908       Friday
Name: InvoiceDate, Length: 541909, dtype: object

#Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

#Task 32: Create a column "RevenueCategory" with three levels:

#."Low" for transactions under Â£10
#."Medium" for transactions between Â£10 and Â£100
#."High" for transactions above Â£100

#Task 33: Create a column "OrderSize" with three levels:

#"Small" for Quantity less than 5
#"Medium" for Quantity between 5 and 20
#"Large" for Quantity greater than 20

#Task 34: Create a column that shows the length of each product name.

In [ ]:
df['ProductName'].str.len()

0         34.0
1         19.0
2         30.0
3         35.0
4         30.0
          ...
541904    27.0
541905    28.0
541906    29.0
541907    31.0
541908    29.0
Name: ProductName, Length: 541909, dtype: float64

#PART E: Text Data Processing
#Task 35: Convert all product names to uppercase.

In [ ]:
df['ProductName'].str.upper()

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: ProductName, Length: 541909, dtype: object

#Task 36: Remove any extra spaces from the Country column.

In [ ]:
df['Country'].str.strip()

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object

#Task 37: Find all products that contain the word "BAG" in their name.

In [ ]:
df.dropna(inplace=True)
df[df['ProductName'].str.contains("BAG")]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom,19.5
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom,19.5
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688.0,United Kingdom,29.5
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688.0,United Kingdom,8.5
...,...,...,...,...,...,...,...,...,...
541833,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,53.7
541834,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8
541835,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,71.6
541862,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581.0,United Kingdom,16.5
541865,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777.0,United Kingdom,58.0

#Task 38: Find all products whose names start with "WHITE".

In [ ]:
df[df['ProductName'].str.startswith('WHITE')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,15.30
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,20.34
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,15.30
...,...,...,...,...,...,...,...,...,...
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796.0,United Kingdom,17.70
540330,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433.0,Norway,17.00
541579,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910.0,United Kingdom,15.00
541647,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446.0,United Kingdom,1.45
541712,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626.0,United Kingdom,17.00

#Task 39: Find all products whose names end with "HOLDER".

In [ ]:
df[df['ProductName'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.50
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,15.30
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850.0,United Kingdom,25.50
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,15.30
...,...,...,...,...,...,...,...,...,...
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,-1.25
541741,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311.0,United Kingdom,4.20
541825,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581.0,United Kingdom,20.40
541872,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,15.00
541876,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,20.40

#Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [ ]:
df['Country'].replace('United Kingdom','UK').inplace=True

#Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [ ]:
df['Country'].replace('EIRE','Ireland')

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 406829, dtype: object

#PART F: Data Selection and Filtering
Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [ ]:
df[['InvoiceNo','ProductName','Quantity','UnitPrice','Country']]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom
1,536365,WHITE METAL LANTERN,6,3.39,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom
...,...,...,...,...,...
541904,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
541905,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
541906,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
541907,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
541908,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

#Task 43: Display transactions from Germany only.

In [ ]:
df[df['Country']=='Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany,17.70
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662.0,Germany,15.30
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662.0,Germany,10.20
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662.0,Germany,19.80
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662.0,Germany,23.40
...,...,...,...,...,...,...,...,...,...
541801,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713.0,Germany,15.00
541802,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713.0,Germany,10.20
541803,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713.0,Germany,10.20
541804,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713.0,Germany,24.96
541805,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713.0,Germany,16.50

#Task 44: Display transactions where Quantity is greater than 50.

In [ ]:
df[df['Quantity']>50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748.0,United Kingdom,204.00
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291.0,United Kingdom,163.20
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom,50.40
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688.0,United Kingdom,36.48
176,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029.0,United Kingdom,165.00
...,...,...,...,...,...,...,...,...,...
541702,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102.0,United Kingdom,469.44
541703,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626.0,United Kingdom,66.36
541711,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626.0,United Kingdom,79.20
541746,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311.0,United Kingdom,66.24
541867,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777.0,United Kingdom,51.84

#Task 45: Display transactions where UnitPrice is between Â£5 and Â£10.

In [ ]:

df[df['UnitPrice'].between(5,10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,19.90
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80
...,...,...,...,...,...,...,...,...,...
541855,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748.0,United Kingdom,6.75
541858,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748.0,United Kingdom,11.50
541878,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804.0,United Kingdom,17.85
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80

#Task 46: Display transactions from France with Quantity greater than 20.

In [ ]:
df[(df['Country']=='France')&(df['Quantity']>20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France,15.60
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France,40.80
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France,30.00
...,...,...,...,...,...,...,...,...,...
532922,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583.0,France,42.96
532936,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583.0,France,90.00
534786,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615.0,France,30.00
534797,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615.0,France,13.92
534804,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615.0,France,42.96

#Task 47: Display transactions from December 2010.

In [ ]:
df[df['InvoiceDate'].dt.year==2010]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
42448,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116.0,United Kingdom,1.25
42449,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116.0,United Kingdom,1.69
42450,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116.0,United Kingdom,1.69
42451,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116.0,United Kingdom,9.90
42452,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116.0,United Kingdom,2.50

#Task 48: Display transactions that occurred on weekends.

In [ ]:
df[df['InvoiceDate'].dt.day_name().isin(['Saturday','Sunday'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
7419,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243.0,United Kingdom,31.60
7420,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243.0,United Kingdom,29.70
7421,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243.0,United Kingdom,13.95
7422,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243.0,United Kingdom,22.50
7423,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243.0,United Kingdom,22.50
...,...,...,...,...,...,...,...,...,...
524188,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490.0,France,15.60
524189,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490.0,France,7.80
524190,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490.0,France,17.70
524191,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490.0,France,19.80
524192,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490.0,France,54.00

#Task 49: Display the top 10 transactions by TotalPrice

In [ ]:
df['UnitPrice'].head(10)

0    2.55
1    3.39
2    2.75
3    3.39
4    3.39
5    7.65
6    4.25
7    1.85
8    1.85
9    1.69
Name: UnitPrice, dtype: float64

#Task 50: Display the bottom 15 transactions by TotalPrice.

In [ ]:
df['Total price'].tail(15)

541894    23.40
541895    19.80
541896    19.80
541897    15.00
541898    15.00
541899    15.00
541900    15.00
541901    15.60
541902    23.40
541903    16.60
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Total price, dtype: float64

#Task 51: Find all transactions from either UK, Germany, or France.

In [ ]:
df[df['Country'].isin(['UK','Germany','France'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,45.00
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France,10.20
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France,15.60
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

#Task 52: Find transactions where TotalPrice is above the 95th percentile.

In [ ]:
df[df['Total price']>90]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748.0,United Kingdom,204.00
65,536374,21258,VICTORIAN SEWING BOX LARGE,32,2010-12-01 09:09:00,10.95,15100.0,United Kingdom,350.40
82,536376,22114,HOT WATER BOTTLE TEA AND SYMPATHY,48,2010-12-01 09:32:00,3.45,15291.0,United Kingdom,165.60
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291.0,United Kingdom,163.20
106,536381,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,4.25,15311.0,United Kingdom,97.75
...,...,...,...,...,...,...,...,...,...
541229,581495,22798,ANTIQUE GLASS DRESSING TABLE POT,36,2011-12-09 10:20:00,2.95,14051.0,United Kingdom,106.20
541231,581495,22423,REGENCY CAKESTAND 3 TIER,10,2011-12-09 10:20:00,12.75,14051.0,United Kingdom,127.50
541702,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102.0,United Kingdom,469.44
541751,581572,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,48,2011-12-09 12:08:00,3.39,16705.0,United Kingdom,162.72
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80

#PART G: Sorting Operations
#Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [ ]:
df.sort_values(by='InvoiceDate')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

#Task 54: Sort the dataset by TotalPrice in descending order.

In [ ]:
df.sort_values(by='Total price',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.60
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,38970.00
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom,8142.75
348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,7144.72
...,...,...,...,...,...,...,...,...,...
173277,C551685,POST,POSTAGE,-1,2011-05-03 12:51:00,8142.75,16029.0,United Kingdom,-8142.75
422375,C573079,M,Manual,-2,2011-10-27 14:15:00,4161.06,12536.0,France,-8322.12
222681,C556445,M,Manual,-1,2011-06-10 15:31:00,38970.00,15098.0,United Kingdom,-38970.00
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.60
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,-168469.60

#

#Task 55: Sort by Country (ascending) and then by TotalPrice (descending)

In [ ]:
df.sort_values(by=['Country','Total price'],ascending=[True,False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
468139,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415.0,Australia,1718.40
304887,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415.0,Australia,1260.00
108007,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415.0,Australia,1074.00
304957,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415.0,Australia,1039.00
45541,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415.0,Australia,1020.00
...,...,...,...,...,...,...,...,...,...
282854,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743.0,Unspecified,0.83
282732,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743.0,Unspecified,0.75
282797,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743.0,Unspecified,0.39
282849,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743.0,Unspecified,0.39
282823,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743.0,Unspecified,0.19

#Task 56: Find the 20 highest-value transactions.

In [ ]:
df.sort_values(by='Total price',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.60
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,38970.00
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom,8142.75
348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,7144.72
52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749.0,United Kingdom,6539.40
160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,6539.40
421601,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646.0,Netherlands,4992.00
52709,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749.0,United Kingdom,4921.50
160542,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749.0,United Kingdom,4632.00
52772,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749.0,United Kingdom,4522.50
244419,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949.0,United Kingdom,4401.00
160544,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749.0,United Kingdom,4254.50
291249,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931.0,United Kingdom,4176.00
422351,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536.0,France,4161.06
422376,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536.0,France,4161.06
52134,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450.0,United Kingdom,4121.64
406406,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744.0,Singapore,3949.32
533812,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195.0,United Kingdom,3861.00
16438,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102.0,United Kingdom,3828.00

#Task 57: Find the 20 lowest-value transactions (excluding returns).

In [ ]:
df.sort_values(by='Total price',ascending=True).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,-168469.60
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.60
222681,C556445,M,Manual,-1,2011-06-10 15:31:00,38970.00,15098.0,United Kingdom,-38970.00
422375,C573079,M,Manual,-2,2011-10-27 14:15:00,4161.06,12536.0,France,-8322.12
173277,C551685,POST,POSTAGE,-1,2011-05-03 12:51:00,8142.75,16029.0,United Kingdom,-8142.75
173391,C551699,M,Manual,-1,2011-05-03 14:12:00,6930.00,16029.0,United Kingdom,-6930.00
160145,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom,-6539.40
160143,C550456,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1930,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,-4921.50
160141,C550456,48185,DOORMAT FAIRY CAKE,-670,2011-04-18 13:08:00,6.75,15749.0,United Kingdom,-4522.50
268027,C560372,M,Manual,-1,2011-07-18 12:26:00,4287.63,17448.0,United Kingdom,-4287.63
406404,C571750,M,Manual,-1,2011-10-19 11:16:00,3949.32,12744.0,Singapore,-3949.32
349750,C567527,23113,PANTRY CHOPPING BOARD,-756,2011-09-21 09:16:00,5.06,17450.0,United Kingdom,-3825.36
160144,C550456,21175,GIN + TONIC DIET METAL SIGN,-2000,2011-04-18 13:08:00,1.85,15749.0,United Kingdom,-3700.00
160142,C550456,47566B,TEA TIME PARTY BUNTING,-1300,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,-3315.00
293842,C562647,M,Manual,-1,2011-08-08 12:56:00,3155.95,15502.0,United Kingdom,-3155.95
271151,C560647,M,Manual,-1,2011-07-20 11:31:00,3060.60,18102.0,United Kingdom,-3060.60
320580,C565044,22191,IVORY DINER WALL CLOCK,-318,2011-08-31 17:02:00,7.65,12931.0,United Kingdom,-2432.70
144831,C548830,M,Manual,-1,2011-04-04 13:08:00,2382.92,12744.0,Singapore,-2382.92
406405,C571750,M,Manual,-1,2011-10-19 11:16:00,2118.74,12744.0,Singapore,-2118.74
144834,C548834,M,Manual,-1,2011-04-04 13:09:00,2053.07,12744.0,Singapore,-2053.07

#PART H: Aggregation and Summary Statistics
#Task 58: Calculate the total revenue generated across all transactions.

In [ ]:
df['Total price'].sum()

np.float64(8300065.814000001)

#Task 59: Calculate the average transaction value.

In [ ]:
df['Total price'].mean()

np.float64(20.401853884555923)

#Task 60: Find the maximum and minimum transaction values.

In [ ]:
df['Total price'].max()

168469.6

In [ ]:
df['Total price'].min()

-168469.6

#Task 61: Calculate the total number of unique customers.

In [ ]:
df['CustomerID'].nunique()

4372

#Task 62: Calculate the total number of unique products sold.

In [ ]:
df['ProductName'].nunique()

3896

#Task 63: Find out how many unique countries are represented in the data.

In [ ]:
df['Country'].nunique()

37

#Task 64: Calculate the average number of items per transaction.

In [ ]:
df['Quantity'].mean()

np.float64(12.06130339774205)

#Task 65: Find which product appears most frequently in transactions.

In [ ]:
df['ProductName'].value_counts().max()

2070

#PART I: Country-wise Analysis
#Task 66: Calculate total revenue for each country.

In [ ]:
df['revenue']=df['Quantity']*df['UnitPrice']

In [ ]:
a=df.groupby('Country')['revenue'].sum()
a

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     250285.220
European Community         1291.750
Finland                   22326.740
France                   196712.840
Germany                  221698.210
Greece                     4710.520
Iceland                    4310.000
Israel                     6994.250
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29059.810
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               55739.400
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          6767873.394
Unspecified                2667.070
Name: revenue, dtype: float64

#Task 67: Find the top 10 countries by total revenue.

In [ ]:
a.sort_values(ascending=False).head(10)

Country
United Kingdom    6767873.394
Netherlands        284661.540
EIRE               250285.220
Germany            221698.210
France             196712.840
Australia          137077.270
Switzerland         55739.400
Spain               54774.580
Belgium             40910.960
Sweden              36595.910
Name: revenue, dtype: float64

#Task 68: Calculate the number of transactions per country.

In [ ]:
df.groupby('Country')['InvoiceNo'].unique()

Country
Australia               [536389, 537676, C538723, 539419, 540267, 5402...
Austria                 [C538971, 539330, 542887, 543027, 545570, 5474...
Bahrain                                                  [552449, 553900]
Belgium                 [537026, 539391, 539447, 539676, 539840, C5401...
Brazil                                                           [550201]
Canada                   [546533, 551736, 557322, 559557, 560187, 564428]
Channel Islands         [538002, 542269, C542734, 544073, 545399, 5460...
Cyprus                  [538826, 540946, 543350, 543370, 544097, 54433...
Czech Republic                [545072, C548667, 570026, C577151, C577353]
Denmark                 [538003, 544157, 546780, 552731, 556127, 55742...
EIRE                    [536540, 536541, 536803, C536817, 536890, 5369...
European Community              [551013, 555542, 555721, C556294, 560783]
Finland                 [539318, 541756, 541998, 544886, 545226, 54522...
France                  [536370, 536852, 536974, 537065, 537463, 53746...
Germany                 [536527, C536548, C536622, 536840, 536861, 536...
Greece                  [541932, 545579, 549325, 559680, C559681, 580752]
Iceland                 [537626, 542237, 549222, 556201, 562032, 57351...
Israel                  [C539037, 544108, 559948, 563613, 569527, 569529]
Italy                   [537022, C537232, 539752, C540129, 541115, 541...
Japan                   [537218, 537899, 538397, C540392, 543179, 5435...
Lebanon                                                          [542276]
Lithuania                                [537081, 537086, 537090, 537827]
Malta                   [555931, C557054, 557668, 563353, 563936, C564...
Netherlands             [536403, 539491, 539731, 541206, 541570, 54160...
Norway                  [536532, 537868, 543037, 544156, 545323, C5453...
Poland                  [536971, 541267, 543214, 543411, 546642, C5471...
Portugal                [536990, 537246, 537818, 537915, 538311, C5388...
RSA                                                              [571035]
Saudi Arabia                                            [544838, C545507]
Singapore               [542102, 548813, 548820, C548830, C548834, 548...
Spain                   [536944, 538095, 538525, 539351, C540271, 5404...
Sweden                  [C538847, 538848, 539338, 540040, C540057, 542...
Switzerland             [536858, 539488, 541518, 541569, 542586, 54318...
USA                     [550644, 570467, C570867, 572215, 580158, 5805...
United Arab Emirates                             [543911, 565218, 567824]
United Kingdom          [536365, 536366, 536367, 536368, 536369, 53637...
Unspecified             [549687, 552695, 557499, 559929, 561658, 56166...
Name: InvoiceNo, dtype: object

#Task 69: Calculate the average transaction value for each country.

In [ ]:
df.groupby('Country')['Total price'].mean()

Country
Australia               108.877895
Austria                  25.322494
Bahrain                  32.258824
Belgium                  19.773301
Brazil                   35.737500
Canada                   24.280662
Channel Islands          26.499063
Cyprus                   20.813971
Czech Republic           23.590667
Denmark                  48.247147
EIRE                     33.438239
European Community       21.176230
Finland                  32.124806
France                   23.167217
Germany                  23.348943
Greece                   32.263836
Iceland                  23.681319
Israel                   27.977000
Italy                    21.034259
Japan                    98.716816
Lebanon                  37.641778
Lithuania                47.458857
Malta                    19.728110
Netherlands             120.059696
Norway                   32.378877
Poland                   21.152903
Portugal                 19.635007
RSA                      17.281207
Saudi Arabia             13.117000
Singapore                39.827031
Spain                    21.624390
Sweden                   79.211926
Switzerland              29.696004
USA                       5.948179
United Arab Emirates     27.974706
United Kingdom           18.702086
Unspecified              10.930615
Name: Total price, dtype: float64

#Task 70: Find which country has the highest average order value.

In [ ]:
avg=df.groupby('Country')['Total price'].mean()

In [ ]:
avg.max()

120.05969633066216

#Task 71: Calculate the total quantity of products sold to each country.

In [ ]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     136329
European Community          497
Finland                   10666
France                   109848
Germany                  117448
Greece                     1556
Iceland                    2458
Israel                     3990
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16044
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               29778
USA                        1034
United Arab Emirates        982
United Kingdom          4008533
Unspecified                1789
Name: Quantity, dtype: int64

#Task 72: Find the country with the most unique customers.

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Total price', 'revenue'],
      dtype='object')

In [ ]:
df.groupby('Country')['CustomerID'].nunique()

Country
Australia                  9
Austria                   11
Bahrain                    2
Belgium                   25
Brazil                     1
Canada                     4
Channel Islands            9
Cyprus                     8
Czech Republic             1
Denmark                    9
EIRE                       3
European Community         1
Finland                   12
France                    87
Germany                   95
Greece                     4
Iceland                    1
Israel                     4
Italy                     15
Japan                      8
Lebanon                    1
Lithuania                  1
Malta                      2
Netherlands                9
Norway                    10
Poland                     6
Portugal                  19
RSA                        1
Saudi Arabia               1
Singapore                  1
Spain                     31
Sweden                     8
Switzerland               21
USA                        4
United Arab Emirates       2
United Kingdom          3950
Unspecified                4
Name: CustomerID, dtype: int64

#PART J: Time-based Analysis
#Task 73: Calculate total revenue for each month.

In [ ]:
df['revenue']=df['Quantity']*df['UnitPrice']

In [ ]:
df['Month']=df['InvoiceDate'].dt.month

In [ ]:
df.groupby('Month')['revenue'].sum()

Month
1      475074.380
2      436546.150
3      579964.610
4      426047.851
5      648251.080
6      608013.160
7      574238.481
8      616368.000
9      931440.372
10     974603.590
11    1132407.740
12     897110.400
Name: revenue, dtype: float64

#Task 74: Find which month had the highest sales.

In [ ]:
high_sales=df.groupby('Month')['revenue'].sum()
high_sales

Month
1      475074.380
2      436546.150
3      579964.610
4      426047.851
5      648251.080
6      608013.160
7      574238.481
8      616368.000
9      931440.372
10     974603.590
11    1132407.740
12     897110.400
Name: revenue, dtype: float64

In [ ]:
high_sales.max()

1132407.74

#Task 75: Calculate revenue for each quarter.

In [ ]:
df['Quater']=df['InvoiceDate'].dt.to_period("Q")

In [ ]:
df.groupby('Quater')['revenue'].sum()

Quater
2010Q4     554604.020
2011Q1    1491585.140
2011Q2    1682312.091
2011Q3    2122046.853
2011Q4    2449517.710
Freq: Q-DEC, Name: revenue, dtype: float64

#Task 76: Calculate the number of transactions per day of the week.

In [ ]:
df['day of week']=df['InvoiceDate'].dt.day

In [ ]:
df.groupby('day of week')['InvoiceNo'].nunique()

day of week
1     849
2     745
3     612
4     744
5     820
6     991
7     913
8     910
9     776
10    800
11    775
12    610
13    693
14    852
15    656
16    740
17    814
18    731
19    624
20    790
21    749
22    642
23    695
24    707
25    634
26    525
27    673
28    734
29    452
30    525
31    409
Name: InvoiceNo, dtype: int64

#Task 77: Find which day of the week has the highest average revenue.

In [ ]:
avg_revenue=df.groupby('day of week')['revenue'].mean().sort_values(ascending=False)
avg_revenue

day of week
15    25.733995
3     23.813896
20    23.613319
11    23.539926
21    23.344051
7     23.038718
14    22.598367
19    21.581538
9     21.418479
16    21.240464
17    21.195980
28    21.065883
5     20.795437
24    20.576471
4     20.525681
2     20.378023
26    20.269434
1     20.169351
29    19.761313
12    19.704485
30    19.545227
22    19.483642
18    19.129158
31    19.068281
10    18.841756
25    18.237950
8     17.637254
13    17.198004
6     16.986067
23    16.561289
27    16.540673
Name: revenue, dtype: float64

#Task 78: Calculate hourly sales patterns (revenue by hour of day).

In [ ]:
df['hour']=df['InvoiceDate'].dt.hour

In [ ]:
hourly_sales=df.groupby('hour')['revenue'].sum()
hourly_sales

hour
6        -497.350
7       31009.320
8      280103.270
9      655114.831
10    1150556.961
11    1054638.910
12    1337091.770
13    1122675.430
14     948603.821
15     898958.860
16     447390.890
17     212975.731
18     100734.560
19      44688.440
20      16020.370
Name: revenue, dtype: float64

#Task 79: Compare sales between 2010 and 2011.

In [ ]:
df['year']=df['InvoiceDate'].dt.year

In [ ]:
sales=df.groupby('year')['revenue'].sum()
sales

year
2010     554604.020
2011    7745461.794
Name: revenue, dtype: float64

#Task 80: Calculate month-over-month revenue growth rate.

In [ ]:
df['yearmonth']=df['InvoiceDate'].dt.month

In [ ]:
month_rev=df.groupby('yearmonth')['revenue'].sum()
month_rev

yearmonth
1      475074.380
2      436546.150
3      579964.610
4      426047.851
5      648251.080
6      608013.160
7      574238.481
8      616368.000
9      931440.372
10     974603.590
11    1132407.740
12     897110.400
Name: revenue, dtype: float64

#PART K: Customer Analysis
#Task 81: Calculate total spending for each customer.

In [ ]:
df.groupby('CustomerID')['revenue'].sum()

CustomerID
12346.0       0.00
12347.0    4310.00
12348.0    1797.24
12349.0    1757.55
12350.0     334.40
            ...
18280.0     180.60
18281.0      80.82
18282.0     176.60
18283.0    2094.88
18287.0    1837.28
Name: revenue, Length: 4372, dtype: float64

#Task 82: Find the top 20 customers by total spending.

In [ ]:
total_spent=df.groupby('CustomerID')['revenue'].sum()

In [ ]:
total_spent.sort_values(ascending=False).head(20)

CustomerID
14646.0    279489.02
18102.0    256438.49
17450.0    187482.17
14911.0    132572.62
12415.0    123725.45
14156.0    113384.14
17511.0     88125.38
16684.0     65892.08
13694.0     62653.10
15311.0     59419.34
13089.0     57385.88
14096.0     57120.91
15061.0     54228.74
17949.0     52750.84
15769.0     51823.72
16029.0     50992.61
14298.0     50862.44
14088.0     50415.49
17841.0     40340.78
13798.0     36351.42
Name: revenue, dtype: float64

#Task 83: Calculate the number of transactions per customer.

In [ ]:
df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346.0     2
12347.0     7
12348.0     4
12349.0     1
12350.0     1
           ..
18280.0     1
18281.0     1
18282.0     3
18283.0    16
18287.0     3
Name: InvoiceNo, Length: 4372, dtype: int64

#Task 84: Find the average order value for each customer.

In [ ]:
df.groupby('CustomerID')['InvoiceNo'].nunique().mean()

np.float64(5.07548032936871)

#Task 85: Identify customers who have made only one purchase.

In [ ]:
trans_per_cust=df.groupby('CustomerID')['InvoiceNo'].nunique()

In [ ]:
trans_per_cust[trans_per_cust==1]

CustomerID
12349.0    1
12350.0    1
12353.0    1
12354.0    1
12355.0    1
          ..
18256.0    1
18262.0    1
18278.0    1
18280.0    1
18281.0    1
Name: InvoiceNo, Length: 1313, dtype: int64

#Task 86: Find customers who spent more than Â£10,000 in total.

In [ ]:
total_spent[total_spent>10000]

CustomerID
12409.0     11056.93
12415.0    123725.45
12433.0     13375.87
12471.0     18740.92
12477.0     13117.01
             ...
17841.0     40340.78
17857.0     26763.34
17865.0     10158.54
17949.0     52750.84
18102.0    256438.49
Name: revenue, Length: 97, dtype: float64

#Task 87: Calculate the average number of days between purchases for each customer

In [ ]:
df_sorted=df.sort_values(['CustomerID','InvoiceDate'])

In [ ]:
df_sorted['daysdiff']=df_sorted.groupby('CustomerID')['InvoiceDate'].diff().dt.days

In [ ]:
avgdays_between=df_sorted.groupby('CustomerID')['daysdiff'].mean()
avgdays_between

CustomerID
12346.0    0.000000
12347.0    2.000000
12348.0    9.400000
12349.0    0.000000
12350.0    0.000000
             ...
18280.0    0.000000
18281.0    0.000000
18282.0    9.833333
18283.0    0.433113
18287.0    2.275362
Name: daysdiff, Length: 4372, dtype: float64

#PART L: Product Analysis
#Task 88: Find the top 20 products by revenue.

In [ ]:
df.groupby('ProductName')['revenue'].sum().sort_values(ascending=False).head(20)

ProductName
REGENCY CAKESTAND 3 TIER              132870.40
WHITE HANGING HEART T-LIGHT HOLDER     93823.85
JUMBO BAG RED RETROSPOT                83236.76
PARTY BUNTING                          67687.53
POSTAGE                                66710.24
ASSORTED COLOUR BIRD ORNAMENT          56499.22
RABBIT NIGHT LIGHT                     51137.80
CHILLI LIGHTS                          45936.81
PAPER CHAIN KIT 50'S CHRISTMAS         41500.48
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39009.38
JUMBO BAG PINK POLKADOT                36473.01
SPOTTY BUNTING                         35056.44
DOORMAT KEEP CALM AND COME IN          34312.60
WOOD BLACK BOARD ANT WHITE FINISH      34307.06
SET OF 3 CAKE TINS PANTRY DESIGN       32607.80
JAM MAKING SET WITH JARS               31658.47
JUMBO BAG STRAWBERRY                   30195.71
HEART OF WICKER LARGE                  28331.45
VICTORIAN GLASS HANGING T-LIGHT        28152.86
Name: revenue, dtype: float64

#Task 89: Find the top 20 products by quantity sold.

In [ ]:
df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53215
JUMBO BAG RED RETROSPOT               45066
ASSORTED COLOUR BIRD ORNAMENT         35314
WHITE HANGING HEART T-LIGHT HOLDER    34147
PACK OF 72 RETROSPOT CAKE CASES       33409
POPCORN HOLDER                        30504
RABBIT NIGHT LIGHT                    27094
MINI PAINT SET VINTAGE                25880
PACK OF 12 LONDON TISSUES             25321
PACK OF 60 PINK PAISLEY CAKE CASES    24163
BROCADE RING PURSE                    22960
VICTORIAN GLASS HANGING T-LIGHT       21984
ASSORTED COLOURS SILK FAN             21132
RED  HARMONICA IN BOX                 20912
JUMBO BAG PINK POLKADOT               19709
SMALL POPCORN HOLDER                  18208
60 TEATIME FAIRY CAKE CASES           17539
LUNCH BAG RED RETROSPOT               17145
HEART OF WICKER SMALL                 16640
JUMBO BAG STRAWBERRY                  16557
Name: Quantity, dtype: int64

#Task 90: Calculate the average price for each product.

In [ ]:
df.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.324359
 50'S CHRISTMAS GIFT BAG LARGE       1.248091
 DOLLY GIRL BEAKER                   1.243929
 I LOVE LONDON MINI BACKPACK         4.138571
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836888
ZINC TOP  2 DOOR WOODEN SHELF       16.768182
ZINC WILLIE WINKIE  CANDLE STICK     0.872228
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3896, dtype: float64

#Task 91: Find products that have been sold to more than 10 different countries.

In [ ]:
prod_countries=df.groupby('ProductName')['Country'].nunique()

In [ ]:
prod_countries[prod_countries>10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 496, dtype: int64

#Task 92: Identify the most expensive and cheapest products.

In [ ]:
prod_avg_price=df.groupby('ProductName')['UnitPrice'].mean()

In [ ]:
prod_avg_price.max()

744.1475

In [ ]:
prod_avg_price.min()

0.00075

#PART M: Advanced Grouping
#Task 93: Calculate total revenue by Country and Year.

In [ ]:
df.groupby(['Country','year'])['revenue'].sum()

Country               year
Australia             2010       1005.100
                      2011     136072.170
Austria               2010        257.040
                      2011       9897.280
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39101.050
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      19722.760
Cyprus                2010       1590.820
                      2011      11355.470
Czech Republic        2011        707.720
Denmark               2010       1281.500
                      2011      17486.640
EIRE                  2010       7825.570
                      2011     242459.650
European Community    2011       1291.750
Finland               2010        892.800
                      2011      21433.940
France                2010       9575.360
                      2011     187137.480
Germany               2010      14562.840
                      2011     207135.370
Greece                2011       4710.520
Iceland               2010        711.790
                      2011       3598.210
Israel                2010       -227.440
                      2011       7221.690
Italy                 2010        794.500
                      2011      16096.010
Japan                 2010       7705.070
                      2011      27635.550
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2505.470
Netherlands           2010       8784.480
                      2011     275877.060
Norway                2010       3787.120
                      2011      31376.340
Poland                2010        248.160
                      2011       6964.980
Portugal              2010       2380.120
                      2011      26679.690
RSA                   2011       1002.310
Saudi Arabia          2011        131.170
Singapore             2011       9120.390
Spain                 2010       1843.730
                      2011      52930.850
Sweden                2010       2646.300
                      2011      33949.610
Switzerland           2010       1304.920
                      2011      54434.480
USA                   2011       1730.920
United Arab Emirates  2011       1902.280
United Kingdom        2010     483799.740
                      2011    6284073.654
Unspecified           2011       2667.070
Name: revenue, dtype: float64

#Task 94: Calculate average transaction value by Country and Quarter.

In [ ]:
df.groupby(['Country','Quater'])['revenue'].sum()

Country         Quater
Australia       2010Q4       1005.100
                2011Q1      40700.470
                2011Q2      39126.680
                2011Q3      32288.500
                2011Q4      23956.520
                             ...
United Kingdom  2011Q2    1374827.011
                2011Q3    1714685.853
                2011Q4    2036808.010
Unspecified     2011Q2       1337.560
                2011Q3       1329.510
Name: revenue, Length: 140, dtype: float64

#task 95: Find the number of transactions by Country and Mont

In [ ]:
df.groupby(['Country','yearmonth'])['InvoiceNo'].nunique()

Country      yearmonth
Australia    1            9
             2            6
             3            4
             4            4
             5            5
                         ..
Unspecified  4            1
             5            1
             6            1
             7            3
             8            2
Name: InvoiceNo, Length: 280, dtype: int64

#Task 96: Calculate total revenue by Day of Week and Hour

In [ ]:
df['day of week']=df['InvoiceDate'].dt.day

In [ ]:
df['hour']=df['InvoiceDate'].dt.hour

In [ ]:
df.groupby(['day of week','hour'])['Total price'].sum().reset_index()

     day of week  hour  Total price
0              1     7       326.90
1              1     8      8878.12
2              1     9     24970.00
3              1    10     35703.23
4              1    11     36554.05
..           ...   ...          ...
394           31    15     30311.63
395           31    16      5338.37
396           31    17     -1469.49
397           31    18       503.35
398           31    19       984.90

[399 rows x 3 columns]

#Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [ ]:
total_price=df.groupby('Country')['Total price'].aggfunc=['sum','mean','max','min']
total_spent

CustomerID
12346.0       0.00
12347.0    4310.00
12348.0    1797.24
12349.0    1757.55
12350.0     334.40
            ...
18280.0     180.60
18281.0      80.82
18282.0     176.60
18283.0    2094.88
18287.0    1837.28
Name: revenue, Length: 4372, dtype: float64

#Task 98: For each customer, calculate their total spending, number of orders, and average order value.

In [ ]:
task98 = df.groupby('CustomerID').agg(
    TotalSpending=('Total price', 'sum'),
    NumberOfOrders=('InvoiceNo', 'nunique'),
    AverageOrderValue=('Total price', 'mean')
).reset_index()

task98

      CustomerID  TotalSpending  NumberOfOrders  AverageOrderValue
0        12346.0           0.00               2           0.000000
1        12347.0        4310.00               7          23.681319
2        12348.0        1797.24               4          57.975484
3        12349.0        1757.55               1          24.076027
4        12350.0         334.40               1          19.670588
...          ...            ...             ...                ...
4367     18280.0         180.60               1          18.060000
4368     18281.0          80.82               1          11.545714
4369     18282.0         176.60               3          13.584615
4370     18283.0        2094.88              16           2.771005
4371     18287.0        1837.28               3          26.246857

[4372 rows x 4 columns]

#Task 99: For each product, calculate total quantity sold and total revenue generated.

In [ ]:
task99 = df.groupby('ProductName').agg(
    TotalQuantity=('Quantity', 'sum'),
    TotalRevenue=('Total price', 'sum')
).reset_index()

task99

                           ProductName  TotalQuantity  TotalRevenue
0        4 PURPLE FLOCK DINNER CANDLES            140        270.76
1        50'S CHRISTMAS GIFT BAG LARGE           1883       2269.75
2                    DOLLY GIRL BEAKER           2391       2750.75
3          I LOVE LONDON MINI BACKPACK            360       1454.00
4          I LOVE LONDON MINI RUCKSACK              1          4.15
...                                ...            ...           ...
3891   ZINC T-LIGHT HOLDER STARS SMALL           4850       3843.46
3892    ZINC TOP  2 DOOR WOODEN SHELF               5         92.75
3893  ZINC WILLIE WINKIE  CANDLE STICK           2595       2166.75
3894       ZINC WIRE KITCHEN ORGANISER             25        156.80
3895  ZINC WIRE SWEETHEART LETTER TRAY             80        253.24

[3896 rows x 3 columns]

#PART N: Creating Summary Reports
#Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [ ]:
df.pivot_table(values=['Total price'],columns='Month',index='Country',aggfunc='sum',fill_value=0)

                     Total price                                               \
Month                         1          2          3           4          5
Country
Australia                9017.71   14627.47   17055.29     333.400   13628.51
Austria                     0.00     518.36    1708.12     680.780    1249.43
Bahrain                     0.00       0.00       0.00       0.000     548.40
Belgium                  1154.05    2161.32    3333.58    1954.150    2727.00
Brazil                      0.00       0.00       0.00    1143.600       0.00
Canada                      0.00       0.00     140.54       0.000     534.24
Channel Islands           645.08    1784.71    3509.33     293.000     903.79
Cyprus                    547.50    4013.55     938.39     -35.800       0.00
Czech Republic              0.00     549.26       0.00     -57.510       0.00
Denmark                     0.00     399.22    3978.99       0.000     515.70
EIRE                    21671.52    7551.92   18270.28    7570.500   15894.78
European Community          0.00       0.00       0.00     191.400       0.00
Finland                   889.02     205.16    5924.62    1626.810       0.00
France                  17503.07    8438.91   14516.90    4195.210   17527.08
Germany                 16451.43    8969.24   14170.02   11963.370   25571.35
Greece                   2661.24       0.00     387.31     609.740       0.00
Iceland                   475.39       0.00       0.00     636.250       0.00
Israel                      0.00     779.10       0.00       0.000       0.00
Italy                    2361.36     251.50    1778.91     737.830     587.45
Japan                    -109.80    5780.81     -73.66    4871.830    1351.45
Lebanon                  1693.88       0.00       0.00       0.000       0.00
Lithuania                   0.00       0.00       0.00       0.000       0.00
Malta                       0.00       0.00       0.00       0.000       0.00
Netherlands             26611.16   22932.11   22416.49    2976.560   29185.88
Norway                      0.00     630.90     304.68       0.000       0.00
Poland                    613.22     604.05     303.39     705.840    1522.37
Portugal                 3998.11    1213.90    2660.85    1687.750     587.83
RSA                         0.00       0.00       0.00       0.000       0.00
Saudi Arabia                0.00     145.92     -14.75       0.000       0.00
Singapore                2053.07       0.00       0.00    2118.740       0.00
Spain                    7178.54    2093.70    5326.65    1785.650    3257.60
Sweden                   3446.32     509.50    4540.58     809.100    2664.98
Switzerland              4231.23    2642.67    1870.23    1822.190    3567.21
USA                         0.00       0.00       0.00     383.950       0.00
United Arab Emirates        0.00     889.24       0.00       0.000       0.00
United Kingdom         351981.28  348853.63  456917.87  376744.411  525573.35
Unspecified                 0.00       0.00       0.00     299.100     852.68

                                                                               \
Month                        6           7          8           9          10
Country
Australia              25164.77    4767.570   22489.20    5031.730   17150.53
Austria                  -24.20    1191.950    1516.08       0.000    1043.78
Bahrain                    0.00       0.000       0.00       0.000       0.00
Belgium                 4273.17    2473.620    3536.12    4197.820    5651.38
Brazil                     0.00       0.000       0.00       0.000       0.00
Canada                  1171.46    1768.580      51.56       0.000       0.00
Channel Islands         2060.03       0.000    4892.53    1321.650    2623.32
Cyprus                  1109.32       0.000       0.00     196.350    4216.52
Czech Republic             0.00       0.000       0.00       0.000     277.48
Denmark                 3261.15     376.240      78.60    4570.160    1438.11
EIRE                   19822.79   40874.150   10781.00   40590.690   23307.62
European Community       423.55     676.800       0.00       0.000       0.00
Finland                  329.56    2996.730    1371.55    1105.450    2804.12
France                 15722.43    9888.990   13789.26   23198.870   25032.04
Germany                13081.02   15721.660   19023.65   17720.310   30614.27
Greece                     0.00     371.240       0.00       0.000       0.00
Iceland                  382.52       0.000     584.91       0.000    1294.32
Israel                     0.00    1430.750    4873.81       0.000     138.03
Italy                    162.27     147.100    1934.80     279.800    3410.79
Japan                   1607.04    3854.400     -49.79     112.080    1948.04
Lebanon                    0.00       0.000       0.00       0.000       0.00
Lithuania                  0.00       0.000       0.00       0.000       0.00
Malta                    850.41       0.000    1103.25       0.000       0.00
Netherlands            26843.09      26.020   39655.81   26937.260   40708.65
Norway                  5886.86     890.070    1984.46    8678.940    3687.23
Poland                   264.74     678.450     401.80     529.250       0.00
Portugal                 879.51    2287.850    1206.40    1433.220    5277.42
RSA                        0.00       0.000       0.00       0.000    1002.31
Saudi Arabia               0.00       0.000       0.00       0.000       0.00
Singapore                  0.00    3949.320       0.00       0.000     999.26
Spain                   3332.44    7578.170    3330.41    5163.740    5078.65
Sweden                   832.00    6802.090    1390.96    4575.210    5766.16
Switzerland             7882.20    3540.650    4882.19    8254.960    7623.99
USA                        0.00       0.000       0.00       0.000     731.69
United Arab Emirates       0.00       0.000       0.00    1013.040       0.00
United Kingdom        472509.25  461147.601  477008.41  776529.842  782777.88
Unspecified              185.78     798.480     531.03       0.000       0.00


Month                        11         12
Country
Australia               6805.99    1005.10
Austria                 1329.78     940.24
Bahrain                    0.00       0.00
Belgium                 6229.41    3219.34
Brazil                     0.00       0.00
Canada                     0.00       0.00
Channel Islands         1495.17     557.68
Cyprus                   460.89    1499.57
Czech Republic           -61.51       0.00
Denmark                 2699.57    1450.40
EIRE                   29148.03   14801.94
European Community         0.00       0.00
Finland                 2950.24    2123.48
France                 30275.89   16624.19
Germany                26044.35   22367.54
Greece                     0.00     680.99
Iceland                    0.00     936.61
Israel                     0.00    -227.44
Italy                   4243.75     994.95
Japan                   8460.08    7588.14
Lebanon                    0.00       0.00
Lithuania                  0.00    1661.06
Malta                    582.62     -30.81
Netherlands            25856.01   20512.50
Norway                  6527.50    6572.82
Poland                  1341.87     248.16
Portugal                2644.90    5182.07
RSA                        0.00       0.00
Saudi Arabia               0.00       0.00
Singapore                  0.00       0.00
Spain                   8533.87    2115.16
Sweden                  2612.71    2646.30
Switzerland             8116.96    1304.92
USA                        0.00     615.28
United Arab Emirates       0.00       0.00
United Kingdom        956109.66  781720.21
Unspecified                0.00       0.00

#Task 101: Create a summary showing average quantity purchased by country and quarter.

In [ ]:
df.groupby(['Country','Quater'])['Quantity'].mean().reset_index()

            Country  Quater   Quantity
0         Australia  2010Q4  12.971429
1         Australia  2011Q1  75.097561
2         Australia  2011Q2  81.433657
3         Australia  2011Q3  50.929907
4         Australia  2011Q4  72.993711
..              ...     ...        ...
135  United Kingdom  2011Q2  11.467055
136  United Kingdom  2011Q3  12.451680
137  United Kingdom  2011Q4  10.023914
138     Unspecified  2011Q2  14.083333
139     Unspecified  2011Q3   4.505814

[140 rows x 3 columns]

#Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.

In [ ]:
df.groupby(['Country','revenue']).size().reset_index(name='Transactioncount')

           Country  revenue  Transactioncount
0        Australia  -425.00                 1
1        Australia  -262.73                 1
2        Australia  -174.00                 1
3        Australia  -107.50                 1
4        Australia   -61.20                 1
...            ...      ...               ...
10064  Unspecified    30.00                 7
10065  Unspecified    30.60                 1
10066  Unspecified    34.00                 1
10067  Unspecified    45.00                 1
10068  Unspecified    69.36                 2

[10069 rows x 3 columns]

#PART N: Creating Summary Reports
#Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [ ]:
month_total=df.groupby('yearmonth')['revenue'].transform('sum')
df['pct_of_month']=df['revenue']/month_total*100
df['pct_of_month']

0         0.001705
1         0.002267
2         0.002452
3         0.002267
4         0.002267
            ...
541904    0.001137
541905    0.001405
541906    0.001850
541907    0.001850
541908    0.001655
Name: pct_of_month, Length: 406829, dtype: float64

#Task 104: Add a column showing each customer's ranking based on their total spending.

In [ ]:
cust_total=df.groupby('CustomerID')['revenue'].sum()
df['cust_rank']=df['CustomerID'].map(cust_total.rank(ascending=False))
df['cust_rank']

0          242.0
1          242.0
2          242.0
3          242.0
4          242.0
           ...
541904    1813.0
541905    1813.0
541906    1813.0
541907    1813.0
541908    1813.0
Name: cust_rank, Length: 406829, dtype: float64

#Task 105: Add a column showing the cumulative revenue over time.

In [ ]:
df=df.sort_values('InvoiceDate')
df['cumu_revenue']=df['revenue'].cumsum()
df['cumu_revenue']

0         1.530000e+01
1         3.564000e+01
2         5.764000e+01
3         7.798000e+01
4         9.832000e+01
              ...
541896    8.300000e+06
541895    8.300019e+06
541907    8.300036e+06
541900    8.300051e+06
541908    8.300066e+06
Name: cumu_revenue, Length: 406829, dtype: float64

#PART P: Combining Analysis
#Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [ ]:
data2010 = df[df['year'] == 2010]
data2011 = df[df['year'] == 2011]
combined = pd.concat([data2010, data2011], axis=0)
combined

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price,revenue,Month,Quater,day of week,hour,year,yearmonth,pct_of_month,cust_rank,cumu_revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,15.30,12,2010Q4,1,8,2010,12,0.001705,242.0,1.530000e+01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,12,2010Q4,1,8,2010,12,0.002267,242.0,3.564000e+01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,22.00,12,2010Q4,1,8,2010,12,0.002452,242.0,5.764000e+01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,12,2010Q4,1,8,2010,12,0.002267,242.0,7.798000e+01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,12,2010Q4,1,8,2010,12,0.002267,242.0,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80,19.80,12,2011Q4,9,12,2011,12,0.002207,1813.0,8.300000e+06
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80,19.80,12,2011Q4,9,12,2011,12,0.002207,1813.0,8.300019e+06
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,16.60,12,2011Q4,9,12,2011,12,0.001850,1813.0,8.300036e+06
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00,15.00,12,2011Q4,9,12,2011,12,0.001672,1813.0,8.300051e+06
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,14.85,12,2011Q4,9,12,2011,12,0.001655,1813.0,8.300066e+06

#Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

In [ ]:
df_uk = df[df['Country'] == 'United Kingdom'].reset_index(drop=True)
df_non_uk = df[df['Country'] != 'United Kingdom'].reset_index(drop=True)

df_uk['Group'] = 'UK'
df_non_uk['Group'] = 'Non-UK'

df_horizontal = pd.concat([df_uk, df_non_uk], axis=1)
df_horizontal

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price,revenue,...,Month,Quater,day of week,hour,year,yearmonth,pct_of_month,cust_rank,cumu_revenue,Group
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,15.30,...,12.0,2010Q4,1.0,8.0,2010.0,12.0,0.001895,146.0,544.95,Non-UK
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,12.0,2010Q4,1.0,8.0,2010.0,12.0,0.004414,146.0,584.55,Non-UK
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,22.00,...,12.0,2010Q4,1.0,8.0,2010.0,12.0,0.007892,146.0,655.35,Non-UK
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,12.0,2010Q4,1.0,8.0,2010.0,12.0,0.002608,146.0,678.75,Non-UK
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,12.0,2010Q4,1.0,8.0,2010.0,12.0,0.001124,146.0,688.83,Non-UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361873,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,20.40,20.40,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361874,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,23.60,23.60,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361875,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,30.00,30.00,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361876,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80,214.80,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361877,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80,70.80,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#PART Q: External Data Integration
#Task 108: Create a new dataset with customer information (make up data):

In [ ]:
import pandas as pd

customer_data = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4, 5],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'MembershipLevel': ['Bronze', 'Silver', 'Gold', 'Gold', 'Silver'],
    'JoinDate': ['2021-01-10', '2021-03-15', '2021-06-22', '2021-07-30', '2021-09-12']
})
customer_data

   CustomerID CustomerName MembershipLevel    JoinDate
0           1        Alice          Bronze  2021-01-10
1           2          Bob          Silver  2021-03-15
2           3      Charlie            Gold  2021-06-22
3           4        Diana            Gold  2021-07-30
4           5       Edward          Silver  2021-09-12

#Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions.

In [ ]:
sales_with_customers = df.merge(customer_data, on='CustomerID', how='left')
sales_with_customers

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price,revenue,...,day of week,hour,year,yearmonth,pct_of_month,cust_rank,cumu_revenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,15.30,...,1,8,2010,12,0.001705,242.0,1.530000e+01,NaN,NaN,NaN
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,1,8,2010,12,0.002267,242.0,3.564000e+01,NaN,NaN,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,22.00,...,1,8,2010,12,0.002452,242.0,5.764000e+01,NaN,NaN,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,1,8,2010,12,0.002267,242.0,7.798000e+01,NaN,NaN,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,1,8,2010,12,0.002267,242.0,9.832000e+01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406824,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80,19.80,...,9,12,2011,12,0.002207,1813.0,8.300000e+06,NaN,NaN,NaN
406825,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80,19.80,...,9,12,2011,12,0.002207,1813.0,8.300019e+06,NaN,NaN,NaN
406826,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,16.60,...,9,12,2011,12,0.001850,1813.0,8.300036e+06,NaN,NaN,NaN
406827,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00,15.00,...,9,12,2011,12,0.001672,1813.0,8.300051e+06,NaN,NaN,NaN
406828,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,14.85,...,9,12,2011,12,0.001655,1813.0,8.300066e+06,NaN,NaN,NaN

#Task 110: Create a product categories dataset (make up data):

In [ ]:
product_categories = pd.DataFrame({
    'StockCode': ['A1', 'A2', 'B1', 'B2', 'C1'],
    'Category': ['Home', 'Kitchen', 'Gift', 'Decor', 'Electronics']
})
product_categories

  StockCode     Category
0        A1         Home
1        A2      Kitchen
2        B1         Gift
3        B2        Decor
4        C1  Electronics

#Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.

In [ ]:
sales_with_categories = df.merge(product_categories, on='StockCode', how='left')
sales_with_customers

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total price,revenue,...,day of week,hour,year,yearmonth,pct_of_month,cust_rank,cumu_revenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,15.30,...,1,8,2010,12,0.001705,242.0,1.530000e+01,NaN,NaN,NaN
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,1,8,2010,12,0.002267,242.0,3.564000e+01,NaN,NaN,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,22.00,...,1,8,2010,12,0.002452,242.0,5.764000e+01,NaN,NaN,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,1,8,2010,12,0.002267,242.0,7.798000e+01,NaN,NaN,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20.34,...,1,8,2010,12,0.002267,242.0,9.832000e+01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406824,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80,19.80,...,9,12,2011,12,0.002207,1813.0,8.300000e+06,NaN,NaN,NaN
406825,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80,19.80,...,9,12,2011,12,0.002207,1813.0,8.300019e+06,NaN,NaN,NaN
406826,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,16.60,...,9,12,2011,12,0.001850,1813.0,8.300036e+06,NaN,NaN,NaN
406827,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00,15.00,...,9,12,2011,12,0.001672,1813.0,8.300051e+06,NaN,NaN,NaN
406828,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,14.85,...,9,12,2011,12,0.001655,1813.0,8.300066e+06,NaN,NaN,NaN

#Task 112: Perform an analysis that shows total revenue by MembershipLevel.

In [ ]:
revenue_by_membership = sales_with_customers.groupby('MembershipLevel')['revenue'].sum().reset_index()
revenue_by_membership

Empty DataFrame
Columns: [MembershipLevel, revenue]
Index: []

#Task 113: Show which product categories are most popular in each country.

In [ ]:
category_by_country = sales_with_categories.groupby(['Country', 'Category'])['Quantity'].sum().reset_index()

In [ ]:
top_category_by_country = category_by_country.sort_values(['Country','Quantity'], ascending=[True, False]) \
                                             .groupby('Country').head(1)
top_category_by_country

Empty DataFrame
Columns: [Country, Category, Quantity]
Index: []

#PART R: NumPy Operations
#Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [ ]:


qty = df['Quantity'].to_numpy()
price = df['UnitPrice'].to_numpy()

total_array = qty * price
total_array

array([15.3 , 20.34, 22.  , ..., 16.6 , 15.  , 14.85])

#Task 115: Create an array of 1000 random transaction IDs.

In [ ]:
transaction_ids = np.random.randint(100000, 999999, size=1000)
transaction_ids

array([900801, 149003, 326875, 473205, 111197, 258259, 439001, 448694,
       383032, 179664, 521383, 272117, 474845, 109406, 268155, 778079,
       424333, 218388, 923599, 707293, 356996, 122831, 724016, 554352,
       816184, 154801, 325430, 159262, 902641, 592765, 453091, 898444,
       164443, 470266, 767616, 569218, 550290, 186909, 691598, 900851,
       786750, 550463, 720836, 472656, 543006, 444380, 433805, 322478,
       331868, 262953, 803707, 389602, 937105, 961910, 295632, 820261,
       257977, 615804, 172531, 244857, 414174, 801887, 998856, 798452,
       123977, 259101, 790091, 369348, 615673, 328054, 912815, 988454,
       814259, 584549, 210835, 172323, 498897, 861611, 461491, 144136,
       829322, 146221, 101706, 123219, 312791, 617213, 471998, 903152,
       860879, 196888, 155649, 645969, 602390, 933313, 526129, 715431,
       583746, 139576, 778963, 357414, 727033, 422671, 526594, 228449,
       145179, 474268, 632467, 995463, 686568, 551970, 362382, 287949,
       480711, 778359, 252092, 320316, 520664, 172301, 245793, 521868,
       530707, 647028, 819596, 476495, 980755, 423819, 330532, 701087,
       143230, 485555, 534075, 102417, 729705, 313685, 939988, 177329,
       738121, 764160, 284956, 105859, 247349, 601558, 827181, 723513,
       752490, 538643, 283009, 552649, 701422, 331004, 559093, 337675,
       270357, 792024, 777623, 915044, 555657, 884894, 722970, 928469,
       581665, 614460, 148237, 748892, 383904, 425738, 559844, 719720,
       889237, 836283, 105020, 111538, 329972, 466825, 136101, 555454,
       585042, 416462, 468346, 720334, 946902, 964102, 956864, 192217,
       327296, 838041, 555521, 195028, 653223, 317314, 526710, 252620,
       182815, 437877, 916961, 584884, 577799, 715256, 936670, 532052,
       810797, 488405, 164252, 152279, 382535, 840823, 494105, 497035,
       461245, 732404, 589447, 290038, 140502, 989236, 614790, 100956,
       636362, 270145, 153112, 155302, 586767, 536541, 770707, 480995,
       280651, 777927, 650892, 643370, 743211, 288048, 476300, 985564,
       538571, 475366, 969648, 571963, 660376, 944034, 248241, 812654,
       442401, 235874, 616979, 814074, 212200, 808120, 243702, 996311,
       486804, 352085, 597193, 949639, 702043, 382707, 897020, 754944,
       358198, 870718, 729690, 923472, 441407, 800376, 375639, 749536,
       203569, 313098, 383977, 352741, 979875, 762377, 506517, 792365,
       508912, 395940, 922793, 466781, 925477, 912375, 598401, 754565,
       830403, 606760, 386577, 269226, 188715, 160094, 430484, 855069,
       821911, 246478, 471571, 266088, 828562, 313393, 682620, 759576,
       580057, 381058, 320598, 755880, 335307, 593963, 549053, 350156,
       734331, 758534, 998587, 313433, 560754, 445427, 652695, 616480,
       825634, 746107, 379676, 902167, 854062, 714995, 240893, 503032,
       456900, 826739, 512631, 504652, 115133, 923856, 766756, 858314,
       466502, 759382, 525603, 328379, 765304, 626537, 655722, 469751,
       406852, 651960, 139502, 504183, 956143, 310439, 474150, 646245,
       211687, 120581, 988827, 646406, 119613, 580237, 591994, 921354,
       104876, 596874, 164594, 359586, 442649, 805430, 923441, 732078,
       825205, 227320, 185755, 102182, 726454, 914038, 496174, 880641,
       477259, 343708, 686019, 913380, 526416, 519058, 520923, 221700,
       490976, 236591, 227449, 467375, 583937, 697315, 248157, 962452,
       372503, 674995, 376662, 143759, 211492, 388930, 382146, 341305,
       994538, 444382, 693247, 528631, 562756, 163385, 264588, 281587,
       736514, 238274, 970884, 968819, 851535, 625775, 931560, 306687,
       172972, 318190, 486101, 237772, 671479, 286288, 615716, 760163,
       229276, 855467, 733663, 524962, 843521, 644641, 328326, 669325,
       716054, 731626, 352482, 298751, 593504, 681315, 167471, 670687,
       375257, 966691, 702360, 512139, 567176, 874316, 683986, 969294,
       148032, 503694, 556452, 861741, 679289, 788434, 236676, 420289,
       406858, 805075, 401956, 185738, 189734, 727592, 270634, 149945,
       461515, 916142, 116255, 926916, 262813, 385671, 244174, 372793,
       579898, 329695, 139040, 892066, 520463, 744400, 445736, 715354,
       994692, 358998, 721516, 404631, 697966, 514263, 809251, 170572,
       467786, 610676, 394631, 699430, 633811, 127711, 279277, 909432,
       350812, 596669, 173322, 286407, 737211, 621311, 500664, 998988,
       352089, 450981, 812692, 196883, 445089, 272806, 984161, 801515,
       900857, 321262, 719502, 435175, 760961, 150231, 716096, 501238,
       547129, 294501, 851852, 537662, 958954, 178785, 862592, 390725,
       495141, 716892, 483398, 249502, 586786, 937980, 308095, 393950,
       542725, 168041, 407785, 699587, 879517, 503764, 789442, 459957,
       172216, 351456, 840680, 780869, 845048, 171763, 134029, 175374,
       404488, 556066, 754138, 942463, 636822, 999308, 769751, 599603,
       802146, 290025, 143691, 460391, 607555, 413390, 416845, 446545,
       890280, 410254, 706890, 556682, 377699, 340458, 913033, 535331,
       593650, 410486, 650282, 295358, 455129, 960474, 244735, 792659,
       817553, 654637, 561748, 831527, 385462, 895864, 208704, 938939,
       441956, 317037, 688422, 383019, 681237, 678635, 730605, 290030,
       521749, 835918, 133086, 766855, 169432, 859655, 535653, 268561,
       626274, 350731, 535614, 187000, 719468, 168415, 207916, 569794,
       741982, 887991, 141893, 655713, 453899, 554464, 667543, 785819,
       257106, 361942, 516277, 854826, 459846, 267151, 550764, 381883,
       424851, 773918, 828912, 424116, 233267, 280386, 592000, 446547,
       219847, 696325, 108992, 209093, 845803, 476849, 596188, 240041,
       954554, 408314, 782795, 565825, 304823, 106510, 406680, 861813,
       103728, 141377, 958587, 399931, 653140, 744395, 695505, 622449,
       552135, 167672, 301141, 797132, 231507, 872308, 497345, 934111,
       708858, 330990, 305437, 505760, 357093, 608455, 514593, 669695,
       433811, 131938, 387449, 662336, 885959, 527678, 870776, 125300,
       923664, 378186, 183509, 983073, 544156, 175677, 694082, 217870,
       952964, 475895, 934914, 158463, 110375, 800412, 620357, 647475,
       380024, 356681, 473306, 839937, 928647, 158731, 356834, 601985,
       222540, 771370, 765781, 154898, 827080, 827293, 549083, 235664,
       261811, 741360, 992506, 459640, 289123, 894402, 151793, 466172,
       914778, 504148, 225324, 703752, 518150, 401342, 510726, 193698,
       494806, 782571, 616388, 665621, 866412, 977605, 654317, 589824,
       598526, 187568, 607654, 278822, 696322, 869151, 157347, 767182,
       134235, 858237, 855591, 661343, 439997, 647984, 167130, 916228,
       390353, 940359, 219500, 378544, 564337, 526033, 613971, 415515,
       690889, 525256, 771308, 163539, 673884, 108221, 852769, 598836,
       228421, 904138, 924537, 899499, 646354, 710471, 678770, 805390,
       236985, 410855, 840737, 625632, 137995, 147350, 657889, 392829,
       491893, 525984, 546476, 189380, 804068, 257728, 490705, 465349,
       310567, 822008, 244919, 428747, 263613, 830180, 707000, 553568,
       196389, 664994, 921672, 240547, 448470, 502842, 965078, 541748,
       188551, 622482, 327942, 708826, 251514, 429781, 374360, 237650,
       632178, 398419, 216477, 476641, 446336, 904727, 771873, 889505,
       664324, 776353, 796377, 772609, 172031, 478314, 404958, 675199,
       513290, 908200, 907751, 902329, 886003, 747232, 244666, 469513,
       436240, 146218, 674505, 740157, 988202, 842164, 856896, 423955,
       505124, 749953, 874374, 219063, 370070, 696278, 266690, 358743,
       771162, 326041, 238034, 501630, 479822, 195450, 664396, 202555,
       718698, 336662, 326249, 832525, 267906, 815715, 344307, 728592,
       324078, 198210, 243301, 282222, 583296, 920364, 825347, 521939,
       480803, 170863, 466770, 683285, 542793, 104102, 734641, 592904,
       234543, 874294, 462064, 872194, 427268, 138721, 266180, 659343,
       345974, 180517, 387965, 659229, 373025, 161322, 271153, 250368,
       291026, 749803, 512755, 838408, 561168, 498948, 960104, 105366,
       110175, 515081, 490279, 857616, 214964, 803651, 260430, 322306,
       185967, 765602, 641874, 657063, 128225, 397530, 789115, 532544,
       476127, 898399, 407987, 407058, 741138, 769176, 411475, 873171,
       442482, 489833, 351218, 266566, 174271, 541400, 471739, 385213,
       593815, 502799, 732848, 646698, 995439, 432695, 270786, 526831,
       586536, 561340, 306866, 793047, 156874, 104365, 802013, 273888,
       543343, 471688, 180744, 631692, 296510, 264782, 873383, 520498,
       478414, 151878, 161539, 952284, 529356, 323769, 723452, 444304,
       613737, 676936, 666037, 794301, 417111, 347018, 103632, 930709,
       622919, 950620, 758854, 763225, 586233, 184256, 214412, 844743,
       575295, 700114, 791016, 387167, 616632, 195190, 315612, 787177])

#Task 116: Generate 50 equally spaced price points between Â£0 and Â£500.

In [ ]:
price_points = np.linspace(0, 500, 50)
price_points

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

#Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.

In [ ]:
matrix = np.zeros((12, 7))
matrix

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

#Task 118: Extract quantities greater than 100 from the Quantity array.

In [ ]:
qty_over_100 = qty[qty > 100]
qty_over_100

array([120, 192, 192, ..., 180, 144, 144])

#Task 119: Calculate the square root of all UnitPrice values.

In [ ]:
sqrt_prices = np.sqrt(price)
sqrt_prices

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 1.93649167,
       2.22485955])

#Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [ ]:
total = df['Total price'].to_numpy()

percentiles = np.percentile(total, [25, 50, 75])
percentiles

array([ 4.2, 11.1, 19.5])

#Task 121: Round all UnitPrice values to the nearest integer

In [ ]:
rounded_prices = np.rint(price)
rounded_prices

array([3., 3., 3., ..., 4., 4., 5.])

#Task 122: Find positions where Quantity is maximum.

In [ ]:
max_positions = np.where(qty == qty.max())
max_positions

(array([406349]),)

#Task 123: Calculate the correlation between Quantity and UnitPrice.

In [ ]:
correlation = np.corrcoef(qty, price)[0, 1]
correlation

np.float64(-0.0012377141012854852)

#Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).

In [ ]:
mean = total.mean()
std = total.std()

normalized_total = (total - mean) / std
normalized_total

array([-0.01193162, -0.00014466,  0.00373756, ..., -0.00889133,
       -0.01263322, -0.01298402])

#Task 125: Split the Quantity array into 4 equal parts.

In [ ]:
split_qty = np.array_split(qty, 4)
split_qty

[array([6, 6, 8, ..., 1, 2, 1]),
 array([ 4,  3, 10, ..., 24,  1,  2]),
 array([1, 2, 1, ..., 5, 3, 2]),
 array([1, 1, 2, ..., 4, 4, 3])]

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Total price', 'revenue', 'Month',
       'Quater', 'day of week', 'hour', 'year', 'yearmonth', 'pct_of_month',
       'cust_rank', 'cumu_revenue'],
      dtype='object')

In [ ]:
df.to_csv('pandas project.csv',index=False)

In [ ]:
df.to_excel("pandas project.xlsx", index=False)